SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carruagem](
	[Classe] [varchar](50) NULL,
	[id] [int] NOT NULL,
	[N_Relativo] [int] NULL,
	[Comboio] [int] NOT NULL,
 CONSTRAINT [PK_Carruagem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Email] [varchar](50) NOT NULL,
	[Telefone] [int] NULL,
	[CC] [int] NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comboio](
	[id] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Rota] [int] NOT NULL,
 CONSTRAINT [PK_Comboio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacao](
	[id] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Servicos] [int] NOT NULL,
 CONSTRAINT [PK_Estacao] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacao_Destino](
	[id] [int] NOT NULL,
	[Estacao] [int] NOT NULL,
	[Hora_Chegada] [time](7) NOT NULL,
	[Rota] [int] NOT NULL,
 CONSTRAINT [PK_Estacao_Destino] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacao_Origem](
	[id] [int] NOT NULL,
	[Estacao] [int] NOT NULL,
	[Hora_Partida] [time](7) NOT NULL,
	[Rota] [int] NOT NULL,
 CONSTRAINT [PK_Estacao_Origem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estacao_Paragem](
	[id] [int] NOT NULL,
	[Estacao] [int] NOT NULL,
	[Hora_Chegada] [time](7) NOT NULL,
	[Hora_Partida] [time](7) NOT NULL,
	[Rota] [int] NOT NULL,
 CONSTRAINT [PK_Estacao_Paragem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[N_Funcionario] [int] NOT NULL,
	[CC] [int] NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario_Valida_Comboio](
	[id_Funcionario] [int] NOT NULL,
	[id_Comboio] [int] NOT NULL,
 CONSTRAINT [PK_Funcionario_Valida_Comboio] PRIMARY KEY CLUSTERED 
(
	[id_Funcionario] ASC,
	[id_Comboio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugar](
	[id] [int] NOT NULL,
	[Numero] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[Carruagem] [int] NOT NULL,
 CONSTRAINT [PK_Lugar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessoa](
	[Nome] [varchar](50) NOT NULL,
	[Data_Nascimento] [date] NOT NULL,
	[CC] [int] NOT NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[CC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[id] [int] NOT NULL,
	[Lugar] [int] NOT NULL,
	[Rota] [int] NOT NULL,
	[Cliente] [int] NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rota](
	[id] [int] NOT NULL,
 CONSTRAINT [PK_Rota] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carruagem]  WITH CHECK ADD  CONSTRAINT [FK_Carruagem_Comboio] FOREIGN KEY([Comboio])
REFERENCES [dbo].[Comboio] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carruagem] CHECK CONSTRAINT [FK_Carruagem_Comboio]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Pessoa] FOREIGN KEY([CC])
REFERENCES [dbo].[Pessoa] ([CC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Pessoa]
GO
ALTER TABLE [dbo].[Comboio]  WITH CHECK ADD  CONSTRAINT [FK_Comboio_Rota] FOREIGN KEY([Rota])
REFERENCES [dbo].[Rota] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comboio] CHECK CONSTRAINT [FK_Comboio_Rota]
GO
ALTER TABLE [dbo].[Estacao_Destino]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Destino_Estacao] FOREIGN KEY([Estacao])
REFERENCES [dbo].[Estacao] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Destino] CHECK CONSTRAINT [FK_Estacao_Destino_Estacao]
GO
ALTER TABLE [dbo].[Estacao_Destino]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Destino_Rota] FOREIGN KEY([Rota])
REFERENCES [dbo].[Rota] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Destino] CHECK CONSTRAINT [FK_Estacao_Destino_Rota]
GO
ALTER TABLE [dbo].[Estacao_Origem]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Origem_Estacao] FOREIGN KEY([Estacao])
REFERENCES [dbo].[Estacao] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Origem] CHECK CONSTRAINT [FK_Estacao_Origem_Estacao]
GO
ALTER TABLE [dbo].[Estacao_Origem]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Origem_Rota] FOREIGN KEY([Rota])
REFERENCES [dbo].[Rota] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Origem] CHECK CONSTRAINT [FK_Estacao_Origem_Rota]
GO
ALTER TABLE [dbo].[Estacao_Paragem]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Paragem_Estacao] FOREIGN KEY([Estacao])
REFERENCES [dbo].[Estacao] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Paragem] CHECK CONSTRAINT [FK_Estacao_Paragem_Estacao]
GO
ALTER TABLE [dbo].[Estacao_Paragem]  WITH CHECK ADD  CONSTRAINT [FK_Estacao_Paragem_Rota] FOREIGN KEY([Rota])
REFERENCES [dbo].[Rota] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Estacao_Paragem] CHECK CONSTRAINT [FK_Estacao_Paragem_Rota]
GO
ALTER TABLE [dbo].[Funcionario]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Pessoa] FOREIGN KEY([CC])
REFERENCES [dbo].[Pessoa] ([CC])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Funcionario] CHECK CONSTRAINT [FK_Funcionario_Pessoa]
GO
ALTER TABLE [dbo].[Funcionario_Valida_Comboio]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Valida_Comboio_Comboio] FOREIGN KEY([id_Comboio])
REFERENCES [dbo].[Comboio] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Funcionario_Valida_Comboio] CHECK CONSTRAINT [FK_Funcionario_Valida_Comboio_Comboio]
GO
ALTER TABLE [dbo].[Funcionario_Valida_Comboio]  WITH CHECK ADD  CONSTRAINT [FK_Funcionario_Valida_Comboio_Funcionario1] FOREIGN KEY([id_Funcionario])
REFERENCES [dbo].[Funcionario] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Funcionario_Valida_Comboio] CHECK CONSTRAINT [FK_Funcionario_Valida_Comboio_Funcionario1]
GO
ALTER TABLE [dbo].[Lugar]  WITH CHECK ADD  CONSTRAINT [FK_Lugar_Carruagem] FOREIGN KEY([Carruagem])
REFERENCES [dbo].[Carruagem] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lugar] CHECK CONSTRAINT [FK_Lugar_Carruagem]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Cliente] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Cliente] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Cliente]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Lugar] FOREIGN KEY([Lugar])
REFERENCES [dbo].[Lugar] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Lugar]
GO
ALTER TABLE [dbo].[Reserva]  WITH CHECK ADD  CONSTRAINT [FK_Reserva_Rota] FOREIGN KEY([Rota])
REFERENCES [dbo].[Rota] ([id])
GO
ALTER TABLE [dbo].[Reserva] CHECK CONSTRAINT [FK_Reserva_Rota]
GO
